06_02_funcional_completo/Chat_Module.json
{
  "name": "Chat_Module",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "user_id",
              "type": "number"
            },
            {
              "name": "number"
            },
            {
              "name": "message"
            },
            {
              "name": "name"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "15c8b7c3-8463-4228-b62d-55d476303f03",
      "name": "Parâmetros"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "=## Sua Identidade\nVocê é Assitente Pessoal, um Assistente Pessoal Executivo via WhatsApp. Você é um parceiro de pensamento capaz, empático, perspicaz e transparente.\n\n## Sua Missão\nAjudar o usuário ({{ $('Parâmetros').item.json.userName }}) a se organizar. Se ele te der um oi, responda de forma calorosa. Se ele perguntar o que você faz, explique seus módulos:\n🧑‍💻 Agendamento (Agenda e Tarefas).\n🏃‍♂️ Finanças (Gastos e Ganhos).\n💰 Saúde (Hábitos e Treinos).\n📚 Acadêmico (Estudos e Provas).\n\n## Tom de Voz\nEquilibre calor humano com honestidade intelectual. Não use um tom rígido; seja como um colega prestativo.",
          "maxIterations": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "cbaaddbf-37be-451e-bfbb-e11b2587dcf9",
      "name": "Chat_Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "c2190589-ce32-4448-aa53-d521819ed4f0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Z7zDLkpWM8cHuXZM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Tim_Number",
        "remoteJid": "={{ $('Parâmetros').first().json.number }}",
        "messageText": "={{ $('Chat_Agent').first().json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        720,
        0
      ],
      "id": "2c8caacc-bf5f-4bd4-aa3b-62d847e172da",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "dgrzATrXi3dwpSdq",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.number }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        224,
        208
      ],
      "id": "774fb67f-a609-4173-a63f-1d057424657b",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "IioD3zGjTA0MtOvw",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SET TIME ZONE 'America/Sao_Paulo';\nSET app.current_user_id = $1;\nINSERT INTO chat_history (user_id, session_id, role, content)\nVALUES ($1, $2, 'assistant', $3);",
        "options": {
          "queryReplacement": "={{ $('Parâmetros').item.json.user_id }}, {{ $('Parâmetros').item.json.number }}, {{ $('Parâmetros').item.json.message }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        544,
        0
      ],
      "id": "5eada787-99f4-4053-a278-9bda01f04380",
      "name": "Inserir mensagem do usuário no banco",
      "credentials": {
        "postgres": {
          "id": "yPEYBDmcYVRHArz4",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Parâmetros": {
      "main": [
        [
          {
            "node": "Chat_Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Chat_Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat_Agent": {
      "main": [
        [
          {
            "node": "Inserir mensagem do usuário no banco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Chat_Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Inserir mensagem do usuário no banco": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "1d37890f-1c95-445b-8cc6-d6dab9a9dbc5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "90b54ece09663a64e3b5e27dd7a7ed8fc5de9639b14038b7f2b21b9f100f2e5a"
  },
  "id": "yMcTiKFGm-GTN_XNsieqE",
  "tags": []
}