06_02_funcional_completo/Create_Event_Calendar.json
{
  "name": "Create_Event_Calendar",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/calendar/v3/calendars/primary/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "= Bearer {{ $json.active_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"summary\": \"{{$('Parâmetros').first().json.title}}\",\n  \"description\": \"Agendado via Assistente Palinos\",\n  \"start\": {\n    \"dateTime\": \"{{ $('Parâmetros').first().json.start_date }}\",\n    \"timeZone\": \"America/Sao_Paulo\"\n  },\n  \"end\": {\n    \"dateTime\": \"{{ $('Parâmetros').first().json.end_date }}\",\n    \"timeZone\": \"America/Sao_Paulo\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -544,
        208
      ],
      "id": "9b3dd91a-273f-4afe-9e9f-5011e852f743",
      "name": "HTTP Request",
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "user_id",
              "type": "number"
            },
            {
              "name": "title"
            },
            {
              "name": "start_date"
            },
            {
              "name": "end_date"
            },
            {
              "name": "number"
            },
            {
              "name": "name"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -960,
        208
      ],
      "id": "6dfb119e-2310-49aa-85f1-a815536ed313",
      "name": "Parâmetros"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Tim_Number",
        "remoteJid": "={{ $('Parâmetros').first().json.number }}",
        "messageText": "Não estou conseguindo acessar seu google calendário devido a autenticação que foi perdida, poderia tentar novamente?",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        80,
        608
      ],
      "id": "6a41e244-cedd-4e22-a372-18ea1ac75511",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "dgrzATrXi3dwpSdq",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SET TIME ZONE 'America/Sao_Paulo';\nSET app.current_user_id = $1;\nINSERT INTO agendamento (user_id, title, start_time, end_time, description, google_event_id, status)\nVALUES ($1, $2, $3, $4, $5, $6, 'agendado')\nON CONFLICT (google_event_id) DO NOTHING;",
        "options": {
          "queryReplacement": "={{ [ $('Parâmetros').item.json.user_id, $('Parâmetros').item.json.title, $('Parâmetros').item.json.start_date, $('Parâmetros').item.json.end_date, 'Agendado via Assistente Palinos', $json.id ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "id": "4f68cf60-4ff0-40b7-9434-10d2e6535756",
      "name": "Inserir no Banco",
      "credentials": {
        "postgres": {
          "id": "yPEYBDmcYVRHArz4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f1395a9e-9cd7-4630-a256-f7eccb40ac21",
              "leftValue": "={{ $json.error.status }}",
              "rightValue": "401",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -256,
        368
      ],
      "id": "58f97a41-d48e-49dd-b4d0-90be959996b2",
      "name": "If"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "AVi9g7CMKzCtqQg2dL8tb",
          "mode": "list",
          "cachedResultUrl": "/workflow/AVi9g7CMKzCtqQg2dL8tb",
          "cachedResultName": "Google_Token_Manager"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $('Parâmetros').first().json.user_id }}",
            "name": "={{ $('Parâmetros').first().json.name }}",
            "number": "={{ $('Parâmetros').first().json.number }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "number",
              "displayName": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        80,
        352
      ],
      "id": "15c1691e-71dc-4ca6-9bcd-5f11870144bd",
      "name": "Call Google_Token_Manager",
      "executeOnce": false
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "AVi9g7CMKzCtqQg2dL8tb",
          "mode": "list",
          "cachedResultUrl": "/workflow/AVi9g7CMKzCtqQg2dL8tb",
          "cachedResultName": "Google_Token_Manager"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{$json.user_id}}",
            "name": "={{$json.name}}",
            "number": "={{$json.number}}"
          },
          "matchingColumns": [
            "user_id"
          ],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "number",
              "displayName": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -752,
        208
      ],
      "id": "a9ca9159-221a-46c7-b825-e3f9aa4c8eda",
      "name": "Call 'Google_Token_Manager'"
    }
  ],
  "pinData": {
    "Parâmetros": [
      {
        "json": {
          "user_id": 393,
          "title": "Reunião",
          "start_date": "2026-01-29T15:00:00-03:00",
          "end_date": "2026-01-29T16:00:00-03:00",
          "number": "5522997028004",
          "name": "Miguel"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Parâmetros": {
      "main": [
        [
          {
            "node": "Call 'Google_Token_Manager'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Inserir no Banco",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Call Google_Token_Manager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Google_Token_Manager": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Google_Token_Manager'": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "de135f77-3aa1-4d4a-8863-45ea2f65c5b0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "90b54ece09663a64e3b5e27dd7a7ed8fc5de9639b14038b7f2b21b9f100f2e5a"
  },
  "id": "gb2DuBP4PmMDFGO5Qv9Wp",
  "tags": []
}