06_02_funcional_completo/Delete_Event_Google.json
{
  "name": "Delete_Event_Google",
  "nodes": [
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://www.googleapis.com/calendar/v3/calendars/primary/events/{{ $('Parâmetros').item.json.google_event_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.active_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        0
      ],
      "id": "b0c4b15c-b5a5-49f0-96de-5623501b96fb",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "user_id",
              "type": "number"
            },
            {
              "name": "number"
            },
            {
              "name": "google_event_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "1537b06e-acba-4697-94be-f9afed2887eb",
      "name": "Parâmetros"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SET TIME ZONE 'America/Sao_Paulo';\nDELETE FROM agendamento WHERE google_event_id = $1 AND user_id = $2;",
        "options": {
          "queryReplacement": "={{ $('Parâmetros').item.json.google_event_id }}, {{ $('Parâmetros').item.json.user_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        656,
        0
      ],
      "id": "57026a6d-3355-45d3-81d0-8be6e7b6743c",
      "name": "Deletar do banco",
      "credentials": {
        "postgres": {
          "id": "yPEYBDmcYVRHArz4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "AVi9g7CMKzCtqQg2dL8tb",
          "mode": "list",
          "cachedResultUrl": "/workflow/AVi9g7CMKzCtqQg2dL8tb",
          "cachedResultName": "Google_Token_Manager"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{$json.user_id}}"
          },
          "matchingColumns": [
            "user_id"
          ],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "number",
              "displayName": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "f3b491ae-4de8-4ad7-a0a7-96bb83e6a1cf",
      "name": "Call 'Google_Token_Manager'"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Deletar do banco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parâmetros": {
      "main": [
        [
          {
            "node": "Call 'Google_Token_Manager'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Google_Token_Manager'": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "20a2f23d-7431-4200-8cd2-811043360be0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "90b54ece09663a64e3b5e27dd7a7ed8fc5de9639b14038b7f2b21b9f100f2e5a"
  },
  "id": "sW5hEAvOHn6U_27an0Xv0",
  "tags": []
}