06_02_funcional_completo/Health_Module.json
{
  "name": "Health_Module",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "user_id",
              "type": "number"
            },
            {
              "name": "number"
            },
            {
              "name": "message"
            },
            {
              "name": "current_date"
            },
            {
              "name": "current_weekday"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        1120,
        576
      ],
      "id": "11da3105-2381-46ac-ac2d-12cc0b41134b",
      "name": "Parâmetros"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1200,
        784
      ],
      "id": "1747f868-682e-4553-bc36-13b6923fb057",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Z7zDLkpWM8cHuXZM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Tim_Number",
        "remoteJid": "={{ $('Parâmetros').item.json.number }}",
        "messageText": "={{ $('Health_Agent').item.json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1888,
        576
      ],
      "id": "489dce2a-7256-4d06-bb97-ecbbf516f9eb",
      "name": "Enviar texto",
      "executeOnce": true,
      "credentials": {
        "evolutionApi": {
          "id": "dgrzATrXi3dwpSdq",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "=## Identidade e Missão\nVocê é o Palinos (Módulo Saúde). Sua função é registrar e consultar hábitos saudáveis (água, treinos, sono, peso) com precisão absoluta.\n\n## Sistema de Calendário (Fonte da Verdade)\n- Data de Hoje: {{ $('Parâmetros').item.json.current_date }}\n- Dia da Semana: {{ $('Parâmetros').item.json.current_weekday }}\n- Ano: 2026\n\n## Regras de Cálculo e Filtro (OBRIGATÓRIO)\n\n-   \"Esta Semana\": O start_date para as ferramentas deve ser a segunda-feira da semana atual, calculada a partir de {{ $('Parâmetros').item.json.current_date }}.\n    \n\n### GATILHO DE REGISTRO\nSe a mensagem contiver menção a:\n- Água (ml ou L), Treino (exercícios), Sono (horas), Peso (kg) ou Corrida(km).\nVocê é OBRIGADO a chamar a ferramenta 'Inserir no Banco' antes de gerar qualquer resposta final.\n-Se o usuário querer registrar corrida, faça apenas um registro marcando o pace no campo Description.\n\n### ESPECIFICAÇÃO DE UNIDADES\n\n-Para o campo 'unit' utilize:\n\nPara consumo de água: ML ou L\nPara os treinos: Sessão\nPara corridas: KM\nPara sono: Horas\nPara peso: KG\n\n### FORMATO TÉCNICO\n- 'data' para a ferramenta: YYYY-MM-DD.\n- 'value': Apenas o número decimal.\n\n----------\n\n## ORDEM DE EXECUÇÃO OBRIGATÓRIA\n\n1. Extrair os dados da mensagem (categoria, valor, item, unidade).\n2. Calcular a data correta (YYYY-MM-DD).\n3. Se o usuário quiser mudar um registro (ex: \"bebi menos água do que anotei\"), use Consultar Saúde para listar as entradas do dia. Identifique o ID do registro específico. Use Editar Saúde ou Excluir Saúde conforme solicitado.\n4.Apresente os resultados ao usuário no formato: Categoria: [categoria] || Item: [item]. Peça a confirmação do usuário antes de executar a ação final de editar ou excluir.\n5. Chamar a ferramenta 'Inserir no BD' com todos os campos preenchidos se for um novo registro.\n6. Somente após a confirmação da ferramenta, gerar a Resposta Final.\n\n----------\n\n## REGRAS DE SAÍDA (Obrigatório)\nSua resposta deve seguir EXATAMENTE este formato:\n\n💪 Registro de Saúde  \n🥤 Hábito: [categoria]\n🏷️ Tipo: [Item]\n📖 Descrição: [descrição]\n📊 Quantidade: [valor + unidade]  \n📅 Data: [dd/mm/aaaa]\n\n(Se houver mais de um registro, separe-os com \"---\")\n\n## DIRETRIZES DE COMUNICAÇÃO\n- Nunca exiba logs, JSON ou detalhes técnicos.\n- Responda de forma motivadora e limpa.",
          "maxIterations": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1328,
        576
      ],
      "id": "e6d95747-87dc-4327-b866-d66723c3faa3",
      "name": "Health_Agent"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Utilize esta ferramenta para buscar o histórico de saúde do usuário. \nPara perguntas sobre 'esta semana', utilize o filtro SQL: created_at >= DATE_TRUNC('week', CURRENT_DATE). Se o usuário pedir um período específico, forneça a start_date no formato YYYY-MM-DD.",
        "operation": "executeQuery",
        "query": "SET app.current_user_id = $1;\nSET TIME ZONE 'America/Sao_Paulo';\nSELECT \n    id, \n    category AS categoria, \n    item, \n    value AS valor, \n    unit AS unidade,\n    description AS descricao,\n    calendario::date AS data\nFROM health \nWHERE user_id = $1 \n  AND (item ILIKE '%' || $2 || '%' OR category ILIKE '%' || $2 || '%' OR description ILIKE '%' || $2 || '%')\nORDER BY created_at DESC \nLIMIT 5;",
        "options": {
          "queryReplacement": "={{ $json.user_id }}, {{ $fromAI('busca', 'Termo de pesquisa (ex: água, treino, musculação)', 'string') }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1392,
        1056
      ],
      "id": "d312608d-6f50-4cc5-a9d0-4ab89be7ffa3",
      "name": "Consultar Saúde",
      "credentials": {
        "postgres": {
          "id": "yPEYBDmcYVRHArz4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.number }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        1344,
        784
      ],
      "id": "0c482ecb-3fbf-41ec-abb5-2da3ef8c7975",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "IioD3zGjTA0MtOvw",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SET TIME ZONE 'America/Sao_Paulo';\nSET app.current_user_id = $1;\nINSERT INTO chat_history (user_id, session_id, role, content)\nVALUES ($1, $2, 'assistant', $3);",
        "options": {
          "queryReplacement": "={{ $('Parâmetros').item.json.user_id }}, {{ $('Parâmetros').item.json.number }}, {{ $('Parâmetros').item.json.message }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1664,
        576
      ],
      "id": "fd314b52-aaa6-4579-aeb0-08c4d205a6f4",
      "name": "Inserir mensagem do usuário no banco",
      "credentials": {
        "postgres": {
          "id": "yPEYBDmcYVRHArz4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "description": "Use esta ferramenta para registrar dados de saúde. Se o usuário disser que bebeu água, converta sempre para mililitros (ex: 1L = 1000ml. Para treinos, use apenas o valor 1, sem alguma unidade. Para peso, use o valor em kg, para sono use Horas. Para Corrida use Pace para marcar velocidade e Km para distâncias",
        "workflowId": {
          "__rl": true,
          "value": "Db12s9k7p98OnNk5Yfhf9",
          "mode": "list",
          "cachedResultUrl": "/workflow/Db12s9k7p98OnNk5Yfhf9",
          "cachedResultName": "Insert_Health_DB"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "calendario": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('calendario', `Data descrita pelo usuário ou calculada`, 'string') }}",
            "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('value', `Apenas o número`, 'string') }}",
            "item": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('item', `\"Musculação\", \"Caminhada\", \"Corrida\"`, 'string') }}",
            "category": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('category', `Ex: Agua, Treino, Sono`, 'string') }}",
            "user_id": "={{ $json.user_id }}",
            "unit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('unit', `ex: Ml, Horas, Kg`, 'string') }}",
            "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('description', `Breve descrição da sessão. Se for Corrida insira o Pace aqui`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "item",
              "displayName": "item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "value",
              "displayName": "value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "calendario",
              "displayName": "calendario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "unit",
              "displayName": "unit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1536,
        1056
      ],
      "id": "b8f9a0a0-220f-4c38-935e-e14635373036",
      "name": "Inserir no Banco"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utilize esta ferramenta para deletar permanentemente um registro de saúde do banco de dados utilizando o ID",
        "operation": "executeQuery",
        "query": "SET app.current_user_id = $2;\nSET TIME ZONE 'America/Sao_Paulo';\nDELETE FROM health \nWHERE id = $1 AND user_id = $2;",
        "options": {
          "queryReplacement": "={{ $fromAI('id', 'ID do registro a excluir', 'number') }}, {{ $('Parâmetros').item.json.user_id }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1824,
        1056
      ],
      "id": "1f885f3b-6f98-4cfe-9611-1fba8adec5ab",
      "name": "Excluir no Banco",
      "credentials": {
        "postgres": {
          "id": "yPEYBDmcYVRHArz4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utilize esta ferramenta para editar um registro de saúde existente (mudar a quantidade de água, o tipo de treino ou o peso) utilizando o ID único do registro.",
        "operation": "executeQuery",
        "query": "SET app.current_user_id = $7;\nSET TIME ZONE 'America/Sao_Paulo';\nUPDATE health \nSET \n    category = COALESCE($1, category), \n    item = COALESCE($2, item), \n    value = COALESCE($3, value), \n    unit = COALESCE($4, unit),\n    description = COALESCE($5, description)\nWHERE id = $6 AND user_id = $7;",
        "options": {
          "queryReplacement": "={{ $fromAI('category', 'Ex: Agua, Treino, Sono', 'string') }}, {{ $fromAI('item', 'Ex: Musculação, Corrida', 'string') }}, {{ $fromAI('value', 'Apenas o número decimal', 'number') }}, {{ $fromAI('unit', 'Ex: ml, kg, Horas', 'string') }}, {{ $fromAI('description', 'Nova descrição ou pace', 'string') }}, {{ $fromAI('id', 'ID do registro', 'number') }}, {{ $('Parâmetros').item.json.user_id }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1680,
        1056
      ],
      "id": "9514c250-3ad6-4883-b514-4f7254c39fb8",
      "name": "Editar no Banco",
      "credentials": {
        "postgres": {
          "id": "yPEYBDmcYVRHArz4",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Parâmetros": {
      "main": [
        [
          {
            "node": "Health_Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Health_Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Health_Agent": {
      "main": [
        [
          {
            "node": "Inserir mensagem do usuário no banco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Saúde": {
      "ai_tool": [
        [
          {
            "node": "Health_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Health_Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Inserir mensagem do usuário no banco": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserir no Banco": {
      "ai_tool": [
        [
          {
            "node": "Health_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Excluir no Banco": {
      "ai_tool": [
        [
          {
            "node": "Health_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Editar no Banco": {
      "ai_tool": [
        [
          {
            "node": "Health_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "067d2084-b6b0-4bea-803e-42d4857c4df3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "90b54ece09663a64e3b5e27dd7a7ed8fc5de9639b14038b7f2b21b9f100f2e5a"
  },
  "id": "VCFCcG6JF4bVEXW2QPd76",
  "tags": []
}