06_02_funcional_completo/Lembrete_1h.json
{
  "name": "Lembrete_1h",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -864,
        -16
      ],
      "id": "b1b9f439-bfca-42a9-8316-c020e705d724",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SET TIME ZONE 'America/Sao_Paulo';\nUPDATE agendamento SET lembrete_1h_enviado = TRUE WHERE id = $1;",
        "options": {
          "queryReplacement": "={{ $('Loop Over Items').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        464,
        0
      ],
      "id": "907c7a73-85a5-4d65-90a0-ca154d1ba934",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "yPEYBDmcYVRHArz4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SET TIME ZONE 'America/Sao_Paulo';\nSELECT a.id, a.title, a.start_time, u.phone, u.name \nFROM agendamento a\nJOIN users u ON a.user_id = u.id\nWHERE a.start_time AT TIME ZONE 'UTC' AT TIME ZONE 'America/Sao_Paulo' \n      -- Busca tudo que começa entre 40 e 80 minutos a partir de AGORA\n      BETWEEN (NOW() AT TIME ZONE 'UTC' AT TIME ZONE 'America/Sao_Paulo' + INTERVAL '40 minutes') \n      AND (NOW() AT TIME ZONE 'UTC' AT TIME ZONE 'America/Sao_Paulo' + INTERVAL '80 minutes')\n  AND a.lembrete_1h_enviado = FALSE;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -656,
        -16
      ],
      "id": "74e37322-9298-4dfc-a84e-0a02920eabba",
      "name": "Selecionar Dados",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "yPEYBDmcYVRHArz4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * (40 - 10 + 1) + 10) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        64,
        0
      ],
      "id": "3bd488f2-b937-4f01-91fb-a59177fc5ff7",
      "name": "Wait",
      "webhookId": "2987c692-2f74-4fd8-9396-327f09d39ff6"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -272,
        0
      ],
      "id": "c6bf48fd-c27f-4a25-9c1b-7c2846f199ab",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Tim_Number",
        "remoteJid": "={{ $('Loop Over Items').item.json.phone }}",
        "messageText": "=Olá {{ $('Loop Over Items').item.json.name }}! Não se esqueça do seu compromisso daqui a pouco:*{{ $('Loop Over Items').item.json.title }} às {{ DateTime.fromISO($('Loop Over Items').item.json.start_time).setZone('America/Sao_Paulo').toFormat('HH:mm') }}h* ",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        256,
        0
      ],
      "id": "4ad022c2-bc7b-49b5-9482-b7aaa0c3a49a",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "dgrzATrXi3dwpSdq",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "daa4f698-3fad-4f4b-b644-3d29f28c2cf2",
              "leftValue": "={{ $json.success }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -512,
        -16
      ],
      "id": "9dbebb3f-8d19-48c9-a702-f1f0c1ed9c85",
      "name": "If"
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-01-29T14:05:44.004-03:00",
          "Readable date": "January 29th 2026, 2:05:44 pm",
          "Readable time": "2:05:44 pm",
          "Day of week": "Thursday",
          "Year": "2026",
          "Month": "January",
          "Day of month": "29",
          "Hour": "14",
          "Minute": "05",
          "Second": "44",
          "Timezone": "America/Sao_Paulo (UTC-03:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Selecionar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selecionar Dados": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "db881895-457f-449d-a221-fecd6e0754bf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "90b54ece09663a64e3b5e27dd7a7ed8fc5de9639b14038b7f2b21b9f100f2e5a"
  },
  "id": "wmkD9_LI5V3IS2E2A-dhN",
  "tags": []
}