06_02_funcional_completo/Lembrete_Diário.json
{
  "name": "Lembrete_Diário",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": "={{ 52 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -928,
        32
      ],
      "id": "62e6480c-f3a8-4d9d-b264-47dadbd366d2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Tim_Number",
        "remoteJid": "={{ $('Loop Over Items').item.json.phone}}",
        "messageText": "=Bom dia, {{ $('Loop Over Items').item.json.name }}! Aqui está sua agenda para o dia de hoje : {{ $('Loop Over Items').item.json.agenda_completa }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        256,
        32
      ],
      "id": "2ff3623b-8c17-4251-ac3b-3c9caa41616a",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "dgrzATrXi3dwpSdq",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * (40 - 10 + 1) + 10) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        0,
        32
      ],
      "id": "3aa0cc07-201a-4db1-837b-bd2d95c37811",
      "name": "Wait",
      "webhookId": "2987c692-2f74-4fd8-9396-327f09d39ff6"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -336,
        16
      ],
      "id": "bfe87039-158e-44f8-860e-c1d1d3c53e59",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- 1. Mantemos a sessão em UTC para que o cálculo seja matemático e exato\nSET TIME ZONE 'UTC';\n\nSELECT \n    u.phone, \n    u.name,\n    -- O TO_CHAR abaixo subtrai as 3h do erro do sistema antes de formatar\n    STRING_AGG('📝 ' || a.title || ' às ' || TO_CHAR(a.start_time - INTERVAL '3 hours', 'HH24:MI'), '\\n') as agenda_completa\nFROM users u\nJOIN agendamento a ON a.user_id = u.id\n-- Filtra apenas os compromissos do dia atual (ajustado para -3h)\nWHERE (a.start_time - INTERVAL '3 hours')::date = (NOW() - INTERVAL '3 hours')::date\nGROUP BY u.phone, u.name;",
        "options": {
          "queryReplacement": ""
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -720,
        32
      ],
      "id": "2d6b3249-92fa-47d9-8426-d0b13abf2150",
      "name": "Coletar Dados",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "yPEYBDmcYVRHArz4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "129f7840-1f1c-46fe-83e4-d472967c2c08",
              "leftValue": "={{$json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -560,
        32
      ],
      "id": "ba25212e-dbaa-4f12-b0e7-b4238eb79350",
      "name": "If"
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-01-30T08:25:45.008-03:00",
          "Readable date": "January 30th 2026, 8:25:45 am",
          "Readable time": "8:25:45 am",
          "Day of week": "Friday",
          "Year": "2026",
          "Month": "January",
          "Day of month": "30",
          "Hour": "08",
          "Minute": "25",
          "Second": "45",
          "Timezone": "America/Sao_Paulo (UTC-03:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Coletar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar Dados": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "75d3872e-37d5-468b-8384-c4548f980499",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "90b54ece09663a64e3b5e27dd7a7ed8fc5de9639b14038b7f2b21b9f100f2e5a"
  },
  "id": "TDj2sOUwzkioCH8vPZ06q",
  "tags": []
}